<div class="flex bg-gray-100">
  <!-- menu lateral -->
  <div
    style="padding: 1rem"
    class="w-[100px] flex flex-col justify-between shrink-0 top-0 left-0 z-10 min-h-screen bg-gray-100"
  >
    <nav>
      <div
        class="flex flex-col items-center justify-center gap-2"
        style="margin-bottom: 1.5rem"
      >
        <div (click)="toggleSidebar()" class="cursor-pointer">
          <img
            class="h-6 w-6 cursor-pointer focus:bg-lime-800"
            src="icons/hamburguer.svg"
            alt=""
          />
        </div>
      </div>

      <div
        *ngFor="let item of menuItems"
        style="padding: 0.5rem 0"
        routerLinkActive="bg-green-100 text-green-600  "
        class="flex flex-col items-center justify-center rounded-2xl cursor-pointer transition-colors py-2 gap-4 hover:bg-green-100"
      >
        <button
          class="mt-4 w-full flex flex-col items-center cursor-pointer rounded p-3"
          [routerLink]="item.url"
        >
          <img class="mr-2 h-6 w-8" [src]="item.icon" alt="" />
          <span class="text-black">{{ item.label }}</span>
        </button>
      </div>
    </nav>

    <!-- menu lateral inferior -->
    <nav>
      <div
        class="flex flex-col items-center justify-center rounded-md cursor-pointer transition-colors py-2"
        *ngFor="let item of menuItemsTwo"
      >
        <button
          class="hover:bg-gray-200 ease-in mt-4 w-full flex flex-col items-center cursor-pointer rounded p-3"
          [routerLink]="item.url"
          routerLinkActive="bg-green-100 text-green-700"
        >
          <img class="mr-2 h-6 w-6" [src]="item.icon" alt="" />
          <span class="text-black">{{ item.label }}</span>
        </button>
      </div>
    </nav>
  </div>

  <!-- conteúdo -->
  <div class="flex-1 ml-[100px]">
    <app-header></app-header>
    <div class="flex">
      <div
        style="margin: 0 1rem"
        *ngIf="sidebarOpen"
        class="shrink-0 bg-white h-fit"
      >
        <div
          style="padding: 0.25rem 0.5rem"
          *ngFor="let item of subMenuItems"
          class="flex items-center justify-center rounded-2xl cursor-pointer transition-colors py-2 gap-4 shrink-0 hover:bg-green-100"
        >
          <button
            style="padding: 0.5rem"
            class="mt-4 w-full flex gap-2 justify-centeritems-center cursor-pointer rounded p-3"
            [routerLink]="item.url"
          >
            <img class="mr-2 h-6 w-8" [src]="item.icon" alt="" />
            <span class="text-gray-400 font-semibold">{{ item.label }}</span>
          </button>
        </div>
      </div>
      <div class="p-4 flex-1">
        <app-filter
          class="flex-1"
          [title]="selectedTitle"
          [icon]="selectedIcon"
        ></app-filter>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
